<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Twitter API using Node.js</title>
  <meta name="generator" content="Bootply" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css">
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
  <div class="container search-container">
    <h2 class="text-center">Twitter API</h2>
    <form id="tweet-search" action="" class="form-inline">
      <div class="form-group">
        <label for="search">Search: </label>
        <input type="text" name="search" id="search" class="form-control" placeholder="Enter Search Term">
      </div>
      <div class="form-group">
        <label for="js-tweet-count">Tweet Count: </label>
        <select class="form-control" name="tweet-count" id="js-tweet-count">
          <option>10</option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
          <option>50</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    
    <div class="loader">
      <img src="img/ajax-loader.gif" alt="Loading...">
    </div>

    <div id="tweet-list" class="well tweet-list">
      <h3>Please search using the above form</h3>
    </div>
  </div>
  
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>